<a href="https://colab.research.google.com/github/prajeet26/Check-That-Asatya/blob/main/CheckThat_Asatya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing using CNN

## Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
final_dataset = pd.read_csv('/content/task1atrain (1).csv')

In [ ]:
trainfile = pd.read_csv('/content/CT22_english_1B_claim_train.tsv', delimiter = '\t')

In [ ]:
new_dataset = pd.merge(final_dataset.drop('class_label', axis=1), 
                trainfile.reset_index(), 
                left_on=['tweet_id'], 
                right_on=['tweet_id'], 
                how='left',
                indicator=True
                )

In [ ]:
new_dataset = new_dataset.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1', 'Unnamed: 0.1.1.1'], axis=1)

In [ ]:
new_dataset.describe()

,tweet_id,followers,following,posts,likes,rts,verified,url,index,class_label
count,4.916000e+03,4.916000e+03,4916.000000,4.916000e+03,4916.000000,4916.000000,4916.000000,4916.000000,2035.000000,2035.0
mean,1.299302e+18,5.518350e+05,2271.831977,6.749403e+04,2197.929821,584.363303,0.264036,0.891172,1855.464865,1.0
std,5.518573e+16,4.000612e+06,13130.563156,1.496564e+05,22223.516319,5556.506148,0.440863,0.311455,942.001406,0.0
min,1.224045e+18,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1.249173e+18,2.730000e+02,104.000000,4.792000e+03,0.000000,0.000000,0.000000,1.000000,1081.000000,1.0
50%,1.277740e+18,2.401000e+03,504.500000,1.983050e+04,1.000000,1.000000,0.000000,1.000000,2058.000000,1.0
75%,1.368970e+18,2.433000e+04,1585.500000,6.410400e+04,14.000000,5.000000,1.000000,1.000000,2608.500000,1.0
max,1.371129e+18,7.829962e+07,587749.000000,1.701491e+06,658689.000000,124655.000000,1.000000,1.000000,3323.000000,1.0

In [ ]:
len(trainfile3) 
len(trainfile)

3324

In [ ]:
trainfile2 = pd.read_csv('/content/CT22_dutch_1B_claim_train.tsv', delimiter = '\t')

In [ ]:
new_dataset.columns

Index(['topic_x', 'tweet_id', 'tweet_url_x', 'tweet_text_x', 'followers',
       'following', 'posts', 'likes', 'rts', 'verified', 'url', 'index',
       'topic_y', 'tweet_url_y', 'tweet_text_y', 'class_label', '_merge'],
      dtype='object')

In [ ]:
new_dataset = pd.merge(new_dataset.drop(['_merge'], axis=1), 
                trainfile2.reset_index(), 
                left_on=['tweet_id'], 
                right_on=['tweet_id'], 
                how='left',
                indicator=True
                )

In [ ]:
xyz = pd.read_csv('/content/CT22_dutch_1A_checkworthy_train.tsv', delimiter='\t')

In [ ]:
len(trainfile2)

1950

In [ ]:
trainfile3 = pd.read_csv('/content/CT22_bulgarian_1B_claim_train.tsv', delimiter='\t')

In [ ]:
new_dataset = pd.merge(new_dataset.drop(['_merge'], axis=1), 
                trainfile3.reset_index(), 
                left_on=['tweet_id'], 
                right_on=['tweet_id'], 
                how='left',
                indicator=True
                )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'topic_x', 'tweet_url_x', 'tweet_text_x'} in the result is deprecated and will raise a MergeError in a future version.

In [ ]:
new_dataset.head()

,topic_x,tweet_id,tweet_url_x,tweet_text_x,followers,following,posts,likes,rts,verified,...,topic_x,tweet_url_x,tweet_text_x,class_label_y,index,topic_y,tweet_url_y,tweet_text_y,class_label,_merge
0,COVID-19,1.359351e+18,http://twitter.com/user/status/135935094335617...,India's gift ofnumber COVID-19 vaccines arrive...,49449,1155,2495,33325,7962,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,COVID-19,1.370008e+18,http://twitter.com/user/status/137000807648978...,As part of the ongoing nationwide vaccination ...,717219,312,24212,6145,1717,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,COVID-19,1.367727e+18,http://twitter.com/user/status/136772673004420...,Pleased to receivenumber doses of Covid-19 vac...,92110,509,2782,10458,1520,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,COVID-19,1.369888e+18,http://twitter.com/user/status/136988848341471...,Four former presidents have banded together fo...,626809,987,111786,6926,1439,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,COVID-19,1.368585e+18,http://twitter.com/user/status/136858518750069...,WSJ: All three of Russia's main intelligence s...,16471,9848,132104,1217,1035,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [ ]:
new_dataset.to_csv("wip train1b.csv")

In [ ]:
trainfile3 = pd.read_csv('/content/CT22_english_1C_harmful_train.tsv', delimiter = '\t')

In [ ]:
remove= []
for index_label, row_series in new_dataset.iterrows():
  if np.isnan(new_dataset.at[index_label, 'class_label']):
    if not np.isnan(new_dataset.at[index_label, 'class_label_x']):
      new_dataset.at[index_label, 'class_label'] = new_dataset.at[index_label, 'class_label_x']
    elif not np.isnan(new_dataset.at[index_label, 'class_label_x']):
      new_dataset.at[index_label, 'class_label'] = new_dataset.at[index_label, 'class_label_y']
    else:
      remove.append(index_label)

  
  # print(dataset_bg.at[index_label, 'tweet_text'])

In [ ]:
print(len(remove))

2097

In [ ]:
new_dataset.columns

Index(['topic_x', 'tweet_id', 'tweet_url_x', 'tweet_text_x', 'followers',
       'following', 'posts', 'likes', 'rts', 'verified', 'url', 'index_x',
       'topic_y', 'tweet_url_y', 'tweet_text_y', 'class_label_x', 'index_y',
       'topic_x', 'tweet_url_x', 'tweet_text_x', 'class_label_y', 'index',
       'topic_y', 'tweet_url_y', 'tweet_text_y', 'class_label', '_merge'],
      dtype='object')

In [ ]:
dataset = new_dataset.drop(remove, axis=0)

In [ ]:
dataset = dataset[['tweet_id', 'tweet_url_x', 'tweet_text_x', 'followers', 'following', 'posts', 'likes', 'rts', 'verified', 'class_label' ]].copy()

In [ ]:
len(dataset)

2819

In [ ]:
dataset.columns

Index(['tweet_id', 'tweet_url', 'tweet_url', 'tweet_text', 'tweet_text',
       'followers', 'following', 'posts', 'likes', 'rts', 'verified',
       'class_label'],
      dtype='object')

In [ ]:
dataset.rename(columns = {'tweet_url_x': 'tweet_url', 'tweet_text_x':'tweet_text' } , inplace = True)

In [ ]:
dataset.to_csv('task1btrain.csv')

In [ ]:
!pip3 install ktrain

In [ ]:
dataset_en = pd.read_csv('/content/CT22_english_1B_claim_test.tsv', delimiter='\t')

In [ ]:
test1a = pd.read_csv('/content/testsettask1a.csv')

In [ ]:
test1a.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'topic', 'tweet_id', 'tweet_url',
       'tweet_text', 'followers', 'following', 'posts', 'likes', 'rts',
       'verified', 'url'],
      dtype='object')

In [ ]:
task1btest = pd.merge(task1btest, 
                test1a.reset_index(), 
                left_on=['tweet_id', 'topic' , 'tweet_url'], 
                right_on=['tweet_id', 'topic' , 'tweet_url'], 
                how='left'
                )

In [ ]:
len(task1btest)

251

In [ ]:
task1btest.describe()

,tweet_id,index,Unnamed: 0,Unnamed: 0.1,followers,following,posts,likes,rts,verified,url
count,2.510000e+02,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,1.421246e+18,74.000000,74.000000,74.000000,3.577005e+06,4218.832215,43087.221477,60226.550336,14190.395973,0.677852,0.906040
std,7.120500e+16,43.156691,43.156691,43.156691,1.288957e+07,7095.322965,64877.776002,67471.167051,14169.354368,0.468875,0.292757
min,5.627078e+17,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.390733e+18,37.000000,37.000000,37.000000,3.891200e+04,483.000000,8691.000000,22373.000000,7148.000000,0.000000,1.000000
50%,1.436097e+18,74.000000,74.000000,74.000000,3.397400e+05,1214.000000,23523.000000,34778.000000,9996.000000,1.000000,1.000000
75%,1.457098e+18,111.000000,111.000000,111.000000,1.238866e+06,4166.000000,54770.000000,70396.000000,15106.000000,1.000000,1.000000
max,1.483471e+18,148.000000,148.000000,148.000000,7.845969e+07,44418.000000,480716.000000,411022.000000,109126.000000,1.000000,1.000000

In [ ]:
!pip install googletrans==3.1.0a0

Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.0 MB/s
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.10.8)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting hstspreload
  Downloading hstspreload-2021.12.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 10.5 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 719 kB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.7 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 2.6 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=6ecf464a1d7ca6d7be9efe40ac998fc84b4f24423314d7ae1ebc6b4ec55e8319
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

## Importing the dataset

In [ ]:
dataset_bg = pd.read_csv('/content/CT22_bulgarian_1C_harmful_train.tsv', delimiter = '\t')

In [ ]:
from googletrans import Translator
translator= Translator()

In [ ]:
for index_label, row_series in dataset_bg.iterrows():
  dataset_bg.at[index_label, 'tweet_text']= translator.translate(dataset_bg.at[index_label, 'tweet_text'], src='bg', dest='en').text
  # print(dataset_bg.at[index_label, 'tweet_text'])

In [ ]:
dataset_bg.to_csv('xyz.csv')

In [ ]:
dataset_bg.head()

,topic,tweet_id,tweet_url,tweet_text,class_label
0,COVID-19,1283842779135827971,http://twitter.com/user/status/128384277913582...,For those who think there is no virus https://...,0
1,COVID-19,1256941692017614849,http://twitter.com/user/status/125694169201761...,Some of the anti-epidemic measures introduced ...,0
2,COVID-19,1293089167568785409,http://twitter.com/user/status/129308916756878...,Biodiversity conservation 🦋🐅🐘🌴 remains a prior...,0
3,COVID-19,1252279781372149766,http://twitter.com/user/status/125227978137214...,A brief overview of building measures taken in...,0
4,COVID-19,1260568724584759300,http://twitter.com/user/status/126056872458475...,A new platform for sharing good practice in th...,0

In [ ]:
dataset_en = pd.read_csv('/content/CT22_english_1C_harmful_train.tsv', delimiter = '\t')

In [ ]:
dataset_en  = dataset_en.append(dataset_bg, ignore_index=True)

In [ ]:
dataset_en.to_csv('xyz.csv')

In [ ]:
len(dataset_en)

6031

In [ ]:
dataset_nl =  pd.read_csv('/content/CT22_dutch_1C_harmful_train.tsv', delimiter = '\t')

In [ ]:
for index_label, row_series in dataset_nl.iterrows():
  dataset_nl.at[index_label, 'tweet_text']= translator.translate(dataset_nl.at[index_label, 'tweet_text'], src='nl', dest='en').text
  # print(dataset_bg.at[index_label, 'tweet_text'])

In [ ]:
dataset_en  = dataset_en.append(dataset_nl, ignore_index=True)

In [ ]:
import re 
for index_label, row_series in dataset_en.iterrows():
  text = dataset_en.at[index_label, 'tweet_text']
  # HASHTAGS
  text = re.sub(r"#\S+","",text)
  # URLS
  text = re.sub(r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))","",text)
  #MENTIONS
  text = re.sub(r"@\S+","",text)
  # NUMBERS CHANGE eg 30 --> "number"
  text = re.sub('(?:^|\s)(?=.)((?:0|(?:[1-9](?:\d*|\d{0,2}(?:,\d{3})*)))?(?:\.\d*[1-9])?)(?!\S)'," number ",text)
  #FORMATTED NUMBER: with decimals/commas
  #finally putting it back in its place
  dataset_en.at[index_label, 'tweet_text'] = text

In [ ]:
dataset_en.to_csv('task1ctestraw.csv' , index = False)

In [ ]:
dataset_en.columns

Index(['topic', 'tweet_id', 'tweet_url', 'tweet_text', 'class_label'], dtype='object')

In [ ]:
t1b = pd.read_csv('/content/task1btrainfinal.csv')

In [ ]:
xyz = pd.merge(dataset_en, 
                t1b.reset_index(), 
                left_on=['topic', 'tweet_id', 'tweet_url', 'tweet_text', 'class_label'], 
                right_on=['topic', 'tweet_id', 'tweet_url', 'tweet_text', 'class_label'], 
                how='left',
                indicator=True
                )

In [ ]:
xyz.describe()

,tweet_id,class_label,index,Unnamed: 0,followers,following,posts,likes,rts,verified,url
count,7.977000e+03,7977.000000,3400.000000,3400.000000,3.400000e+03,3400.000000,3.400000e+03,3.400000e+03,3400.000000,3400.000000,3400.000000
mean,1.296357e+18,0.103297,3959.558529,3959.558529,2.540808e+05,1762.334118,4.038205e+04,3.723048e+03,981.495882,0.178824,0.784412
std,5.594758e+16,0.304365,2346.642067,2346.642067,3.085002e+06,12340.262175,9.647449e+04,4.076424e+04,9656.494816,0.383261,0.411290
min,1.222318e+18,0.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,1.246301e+18,0.000000,1669.500000,1669.500000,1.570000e+02,129.000000,2.068000e+03,0.000000e+00,0.000000,0.000000,1.000000
50%,1.272203e+18,0.000000,3889.500000,3889.500000,1.177000e+03,512.000000,1.154700e+04,1.000000e+00,1.000000,0.000000,1.000000
75%,1.368932e+18,0.000000,6261.500000,6261.500000,7.714250e+03,1368.500000,4.007700e+04,8.000000e+00,3.000000,0.000000,1.000000
max,1.371137e+18,1.000000,7981.000000,7981.000000,1.318626e+08,583436.000000,1.157537e+06,1.364582e+06,294771.000000,1.000000,1.000000

In [ ]:
from google.colab import files
files.download('task1ctestraw.csv')

In [ ]:
err

NameError: ignored

In [ ]:
dataset_en_val =  pd.read_csv('CT22_english_1A_checkworthy_dev_test.tsv', delimiter = '\t')

In [ ]:
dataset_nl.to_csv('xyz.csv')

In [ ]:
import random
num = []
cat= []
for i in range(len(dataset_en)):
  num.append(random.choice([0,1,2,3]))
  cat.append(random.choice([0,1]))

In [ ]:
dataset_en=dataset_en.assign(num=num)

In [ ]:
dataset_en=dataset_en.assign(cat=cat)

In [ ]:
dataset_en.head()

In [ ]:
dataset_en = pd.read_csv('/content/CT22_english_1A_checkworthy_test.tsv', delimiter='\t')

In [ ]:
dataset_en.columns

In [ ]:
xyz = pd.read_csv('xyz.csv')

In [ ]:
class_label = xyz['class_label']

In [ ]:
dataset_en = dataset_en.join(class_label)

## Cleaning the texts

In [ ]:
import pandas as pd
dataset_en = pd.read_csv('/content/CT22_english_1C_harmful_dev.tsv', delimiter='\t')

In [ ]:
import re 
for index_label, row_series in dataset_en.iterrows():
  text = dataset_en.at[index_label, 'tweet_text']
  # HASHTAGS
  text = re.sub(r"#\S+","",text)
  # URLS
  text = re.sub(r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))","",text)
  #MENTIONS
  text = re.sub(r"@\S+","",text)
  # NUMBERS CHANGE eg 30 --> "number"
  text = re.sub('(?:^|\s)(?=.)((?:0|(?:[1-9](?:\d*|\d{0,2}(?:,\d{3})*)))?(?:\.\d*[1-9])?)(?!\S)'," number ",text)
  #FORMATTED NUMBER: with decimals/commas
  #finally putting it back in its place
  dataset_en.at[index_label, 'tweet_text'] = text

In [ ]:
dataset_en.columns

Index(['topic', 'tweet_id', 'tweet_url', 'tweet_text', 'class_label'], dtype='object')

In [ ]:
dataset_en.to_csv('task1cvalraw.csv' , index = False)

In [ ]:
len(dataset_en)

In [ ]:
dataset_en.head()

In [ ]:
import pandas as pd
dataset_en = pd.read_csv('task1ctrainfinal.csv')
val = pd.read_csv('task1cvalfinal.csv')

In [ ]:
!pip install ktrain

In [ ]:
from ktrain import text as text

(x_train, y_train), (x_test, y_test), preproc = text.texts_from_df(train_df=dataset_en,
                                                                   val_df=val,
                                                                   text_column = 'tweet_text',
                                                                   label_columns = 'class_label',
                                                              
                                                                   maxlen = 128,
                                                                   preprocess_mode = 'bert')

['not_class_label', 'class_label']
   not_class_label  class_label
0              1.0          0.0
1              1.0          0.0
2              1.0          0.0
3              1.0          0.0
4              1.0          0.0
['not_class_label', 'class_label']
   not_class_label  class_label
0              1.0          0.0
1              1.0          0.0
2              1.0          0.0
3              1.0          0.0
4              1.0          0.0
downloading pretrained BERT model (uncased_L-12_H-768_A-12.zip)...
[██████████████████████████████████████████████████]
extracting pretrained BERT model...
done.

cleanup downloaded zip...
done.

preprocessing train...
language: en

Is Multi-Label? False
preprocessing test...
language: en

In [ ]:
model = text.text_classifier(name='bert',
                             train_data=(x_train, y_train),
                             preproc=preproc)

Is Multi-Label? False
maxlen is 128
done.

In [ ]:
import ktrain
learner = ktrain.get_learner(model=model,
                             train_data=(x_train, y_train),
                             batch_size=8)

In [ ]:
learner.fit_onecycle(lr=3e-5,epochs=1, class_weight={0:1, 1:4})

begin training using onecycle policy with max lr of 3e-05...
366/997 [==========>...................] - ETA: 1:42:31 - loss: 0.7863 - accuracy: 0.8132

In [ ]:
val = pd.read_csv('/content/task1ctestfinal.csv')

In [ ]:
predictor = ktrain.get_predictor(learner.model, preproc)

In [ ]:
import numpy as np

In [ ]:
y_predict = predictor.predict(np.asarray(val['tweet_text']))

In [ ]:
for i in range(0,len(y_predict)):
  y_predict[i]= 0 if y_predict[i]=='not_class_label' else 1

In [ ]:
y_predict = np.asarray(y_predict)

In [ ]:
y_test = np.asarray(val['class_label']).reshape(251)

In [ ]:
print(y_predict)

[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0
 0 1 1 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1 0
 0 0 0 1 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 1 0 0 0
 1 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 0 1 1 0 1 0 1
 0 0 0 1 0 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 0 1 0 1 1 0 0
 0 0 1 0 0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 0 0 0 1 0]

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
cm = confusion_matrix(y_test, y_predict)
print(cm)
f1 = f1_score(y_test,y_predict)
print(f1)
accuracy_score(y_test, y_predict)

In [ ]:
val = val.drop(['Unnamed: 0'], axis=1)

In [ ]:
val.columns

Index(['topic', 'tweet_id', 'class_label'], dtype='object')

In [ ]:
val = val.assign(class_label=y_predict)

In [ ]:
run_id = []
for i in range(len(val)):
  run_id.append("6MayMultimodalBERT")

In [ ]:
val = val.assign(run_id=run_id)

In [ ]:
val.to_csv('subtask1C_harmful_english.tsv', sep="\t", index=False)

In [ ]:
!zip subtask1C_harmful_english.zip subtask1C_harmful_english.tsv

  adding: subtask1C_harmful_english.tsv (deflated 77%)

In [ ]:
err

In [ ]:
import re 
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
all_stopwords = set(stopwords.words('english'))
all_stopwords.remove('not')
for i in range(0,1000):
  review = re.sub('[^a-zA-Z]' , ' ', dataset['Review'][i])
  review = review.lower()
  review = review.split()
  # ps = PorterStemmer()
  # review = [ps.stem(word) for word in review if not word in all_stopwords ]
  review = ' '.join(review)
  corpus.append(review)

In [ ]:
err

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
import keras as keras
import tensorflow as tf

tokenizer=tf.keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(X_train)

In [ ]:
encoded_docs = tokenizer.texts_to_sequences(X_train)

In [ ]:
max_length = max([len(s.split()) for s in X_train])
X_train = tf.keras.preprocessing.sequence.pad_sequences(encoded_docs, maxlen=max_length, padding='post')

In [ ]:
print(X_train)

In [ ]:
encoded_docs = tokenizer.texts_to_sequences(X_test)
X_test = tf.keras.preprocessing.sequence.pad_sequences(encoded_docs, maxlen=max_length, padding='post')

In [ ]:
vocab_size = len(tokenizer.word_index) + 1

## Training the CNN on the Training set

In [ ]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Embedding(vocab_size, 100, input_length=max_length))
model.add(tf.keras.layers.Conv1D(filters=32, kernel_size=8, activation='relu'))
model.add(tf.keras.layers.MaxPooling1D(pool_size=2))
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
print(model.summary())

In [ ]:

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=100)

## Predicting the Test set results

In [ ]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)